.homepage-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.box h2 {
    margin-top: 0;
}

.box img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
